html,body {
  /* position:relative; */
  min-height: 100% ;
    font-family: Open Sans, Helvetica;
    margin: 0;
    padding:0;
    overflow-x: hidden;
    background-color: rgb(7, 7, 7);
  }

  /* html, body, #app, #app>div {
    height: 100vh;
  } */

  #root{
   
      height: 100%;
      position: absolute;
      left: 0;
      width: 100%;
      overflow: hidden;
  }
  